<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <head th:replace="fragments/head.html :: head(title='profile.password')"></head>
</head>

<body>
<form name="changePassword" method="post" action="" onSubmit="">
<div class="change-password">
    <div style="margin-left: 100px">
        <label>
            <b>Obecne Hasło</b>
            <input type="password" placeholder="password" name="password" class="txtField"/><span id="currentPassword"  class="required"></span></td>
        </label>
        <br/>
        <label>
            <b>Nowe Hasło</b>
            <input type="password" placeholder="password" name="password" class="txtField"/><span id="newPassword" class="required"></span></td>

        </label>
        <br/>
        <label>
            <b>Powierdź hasło</b>
            <input type="password" placeholder="password" name="password" class="txtField"/><span id="confirmPassword" class="required"></span></td>

        </label>
        <br/>
        <input type="submit" name="submit" value="Zmień"></td>
    </div>
</div>
</form>
</body>
</html>