<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="fragments/head.html :: head(title='welcome.title')"></head>
<body>
<head th:replace="fragments/header.html :: header"></head>
<main role="main">

    <div class="jumbotron">
        <div class="container">
            <h1 class="display-3" th:text="#{welcome.projects}"></h1>
            <p><a sec:authorize="!isAuthenticated()" class="btn btn-primary btn-lg" th:href="@{/login}" th:text="#{welcome.login}" role="button"></a></p>
        </div>
    </div>

</main>
<footer th:replace="fragments/footer.html :: footer"></footer>
</body>
</html>
